/* footer 2 */
.footer-2 {
    background-color: #F2F3F4;
    color: #000000; /* Updated text color to black */
    padding: 20px;
  }
  
  .footer-logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  
  .footer-links {
    text-align: center; /* Align anchor tags to center */
  }
  
  .footer-links a {
    color: #000000; /* Updated text color to black */
    margin-right: 10px;
    text-decoration: none; /* Remove text decoration */
  }
  
  .footer-links a:hover {
    color: #cccccc;
  }
  
  .footer-links a {
    display: inline-block; /* Add display inline-block to align center */
    text-align: center; /* Add text-align center to align center */
  }
  
  .footer-links a:last-child {
    margin-right: 0; /* Remove margin-right for the last link */
  }
  
  .footer-links a:hover {
    color: #cccccc;
    text-decoration: none;
  }
  
  .footer-section {
    width: 100%;
    background-color: #E1E1E1;
    height: 150px;
  }
  
  .icon-style {
    padding-left: 3%;
  }
  
  .icon-style:hover {
    transform: scale(1.1);
  }
  
  /* Media Query for screens with max width 767px */
  @media (max-width: 767px) {
    .footer-logo {
      display: block;
      margin: 0 auto;
    }
  .footer-copyright{
    text-align: center;
    
  }

  
  }
  