/* Section 1 main contents */

.section-1-main {
    background-color: #F2F3F4;
}

.sec-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-style:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2f3d81;
}

.card-style:hover .overlay {
    opacity: 0.6;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-2-main {
    background-color: #ffffff;
    height: 100px;
    width: 100%;
}

.sec-1-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

/* Section 1 main contents ends here */

/* Section 1 Para Section Starts Here */

.sec-1-big-para {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



/* Section 1 Para Section Ends Here */