ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;

}
ul#tabs li {
    display: inline-block;
    background-color: #1D1F20;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-bottom: -10px;
    color: #fff;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #238b68;
}
ul#tabs li.active {
    background-color: #238b68;
}
ul#tab {
    list-style-type: none;
    margin: 0;
   border: solid 1px #238b68;
    padding: 5px 20px;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}