* {
  box-sizing: border-box;
  font-family: "Futura", sans-serif;

}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@media (max-width: 575px) {
  .nav-img {
    margin-top: 50px;
  }

}

.nav-img {
  max-width: 100%;
}


/* CSS for the custom alert */

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.alert-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.alert-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.alert-button:hover {
  background-color: #0056b3;
}

/* CSS for custom alerts ends */